/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1680px) {
.header__contact {
	margin-left: 45px;
}
.box-info {
	padding-left: 37px;
}
.box-info img {
	left: 13px;
}
.item-about {
	font-size: 16px;
	line-height: 27px;
}

.item-contact {
    font-size: 17px;
    }
}
@media only screen and (max-width : 1600px) {

}
@media only screen and (max-width : 1500px) {
.logo-descr {
    line-height: 20px;
    max-width: 210px;
    margin-left: 11px;
    font-size: 12px;
}
.phone-main {
    font-size: 19px;
    line-height: 25px;
    }
    .btn-main {
    	font-size: 14px;
    }
    .header__contact {
    	margin-left: 10px;
    }

.block-search {
	max-width: 1230px;
}
.block-search__item {
    padding: 0 15px;
}
.box-info {
	font-size: 14px;
	padding-right: 5px;
}
.slider-gallery {
    max-width: 870px;
    }
    .info-area {
    	max-width: 755px;
    }
    .item-contact {
    font-size: 15px;
    margin-bottom: 47px;
}
.insta-title {
    font-size: 20px;
    }
    .insta-block {
        padding: 5px;
    }
    .item-service__name {
        min-height: 48px;
    }
    .btn-social__icon {
    width: 89px;
    margin-right: 17px;
}
}
@media only screen and (max-width : 1350px) {
.header__right .btn-main {
	margin-left: 10px;
}
body {
	font-size: 14px;
	line-height: 24px;
}
.header__wrap {
	padding-left: 10px;
	padding-right: 15px;
}
.phone-main {
    font-size: 18px;
    line-height: 22px;
}
.contact-descr {
    font-size: 13px;
}
.block-search {
    max-width: 1040px;
}
.input-date {
	width: 260px;
}
.block-search__item {
	padding: 0 10px;
}
.item-rating span {
    padding: 12px 15px;
    }
    .block-search .btn-main {
    	padding: 20px 20px;
    }
    .ratings-wrap .item-rating {
    margin-right: 9px;
}
.title-section {
    font-size: 43px;
    line-height: 52px;
}
.item-about {
    font-size: 14px;
    line-height: 24px;
}
.date-item {
	margin-bottom: 15px; 
}
.switch-tabs {
	font-size: 16px;
}
.slider-gallery {
    max-width: 740px;
    }
    .info-area {
    	max-width: 655px;
    }
    .slider-gallery__item {
    height: 395px;
}
.tabs-area a {
    font-size: 16px;
    }
    .feature-service {
        margin-left: 0;
    }
    .item-service {
        padding-left: 15px;
        padding-right: 15px;
    }
    .feature-service {
        padding-left: 13px;
        padding-right: 13px;
        font-size: 13px;
        border-width: 4px;
    }
    .schema-block__title {
    font-size: 20px;
}
.reservation-block {
    padding-left: 15px;
    padding-right: 35px;
}
.item-news__title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 17px;
    }
    .item-news__text {
        margin-bottom: 15px;
    }
    .item-news__category {
        margin-bottom: 15px;
    }
.insta-block {
    height: 238px;
}
    .news .title-section {
    padding-bottom: 36px;
}
.insta-title {
    font-size: 18px;
    padding-top: 27px;
    padding-bottom: 34px;
}
.btn-social__icon {
    width: 85px;
    margin-right: 7px;
}
.item-contact {
    margin-bottom: 40px;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1350px) {
	.container {
    max-width: 1350px;
}
}
@media (min-width: 1500px) {
	.container {
    max-width: 1500px;
}
}
@media (min-width: 1600px) {
	.container {
    max-width: 1500px;
}
}
@media (min-width: 1680px) {
	.container {
    max-width: 1680px;
}
}